<br>
<div class="bg-black h-96 w-64 m-2">

  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" [(ngModel)]="cuadroNombre">

  <label for="Apellido">Apellido</label>
  <input type="text" name="Apellido" [(ngModel)]="cuadroApellido">

  <label for="Cargo">Cargo :</label>
  <input type="text" name="Cargo" [(ngModel)]="cuadroCargo">

  <label for="Salario">Salario</label>
  <input type="text" name="Salario" [(ngModel)]="cuadroSalario">

</div>
<br>
<br>
<button class="h-12 w-12" (click)="agregarEmpleado()"> Agregar</button>
